@media only screen and (min-width: 1200px)
{
    .benefits-container
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 1200px;
        padding: 30px;
        padding-top: 200px;
        padding-bottom: 200px;

        color: #f4f7f5;
        
    }

    .benefits-box-container
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin: auto;

        padding-top: 120px;
    }

    .benefits-box
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        margin: auto;

        width: 300px;
        height: 300px;
        padding-left: 50px;
        padding-right: 50px;
        
        margin-right: 10px;

        background-color: #f4f7f5;
        color:#0d0a0bff;
        border-radius: 30px;

    }

    .benefit-header-text
    {
        font-size: 40px;
    }

    .benefit-icon
    {
        font-size: 60px;
    }

    .benefit-box-title
    {
        font-size: 20px;
    }

    .benefit-box-description
    {
        font-size: 14px;
    }
}
/* Anything smaller than a desktop */
@media only screen and (max-width: 1200px)
{
    .benefits-container
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;

        padding: 30px;
        padding-top: 200px;
        padding-bottom: 200px;

        color: #f4f7f5;
        
    }

    .benefits-box-container
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;

    }

    .benefits-box
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: auto;

        width: 200px;

        padding: 50px;

        margin-bottom: 10px;

        background-color: #f4f7f5;
        color:#0d0a0bff;
        border-radius: 30px;

    }

    .benefit-header-text
    {
        font-size: 30px;
    }

    .benefit-icon
    {
        font-size: 60px;
    }

    .benefit-box-title
    {
        font-size: 20px;
        font-weight: 800;
    }

    .benefit-box-description
    {
        font-size: 14px;
    }
}