.key-word-bold
{
    font-weight: bold;
    font-size: 20px;
}


@media only screen and (min-width: 1200px)
{
    .learn-services-section-container
    {
        background-color: #f4f7f5;

        padding: 30px;
        padding-bottom: 200px;
    }

    .learn-services-section-width
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        width: 1200px;
    }

    .learn-services-images-section
    {
        flex: 3;
    }
    .learn-services-text-section
    {
        flex: 7;
    }

    .learn-service-img-1
    {
        position: absolute;
        margin-top: -10px;
        margin-left: -20px;
    }
    .learn-service-img-2
    {
        position: absolute;
        margin-top: 230px;
        margin-left: 20px;
    }

    .learn-sub-text-services
    {
        color: #3f7d20;
    }

    .learn-title-text-services
    {
        font-size: 40px;
    }

    .learn-services-box-container
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
    }

    .learn-services-box
    {
        width: 300px;
        height: 300px;
        background-color: #0d0a0bff;
        padding: 40px;
        color: #f4f7f5;

        border-radius: 30px;

        margin-bottom: 20px;
        margin-right: 20px;
    }

    .learn-service-box-title
    {
        font-size: 30px;
        font-weight: 800;
    }

    .stack-box-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .stack-box
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 30px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);

        margin-right: 20px;
        margin-top: 20px

    }

    .examples-box-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .example-box
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 40px;
        font-size: 25px;
    }

    .development-box-contanier
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .development-box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 350px;

    }

    .development-box-header
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        color:#f4f7f5;
        background-image: url("../images/development-banner.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 300px;

        font-size: 30px;


    }

    .development-box-header-final
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        color:#f4f7f5;
        background-image: url("../images/development-banner-final.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 300px;

        font-size: 30px;


    }

    .development-box-body
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        margin-top: 20px;
        padding-left: 30px;
        padding-top: 30px;

        background-color: #efefef;
        color:#0d0a0bff;

        height: 400px;
        width: 300px;

        font-size: 20px;


    }



}

/* Anything smaller than a desktop */
@media only screen and (max-width: 1200px)
{
    .learn-services-section-container
    {
        background-color: #f4f7f5;

        padding: 30px;
        padding-bottom: 200px;
    }

    .learn-services-section-width
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;

    }

    .learn-services-images-section
    {
        flex: 3;
    }
    .learn-services-text-section
    {
        flex: 7;
    }

    .learn-service-img-1
    {
        display: none;
    }
    .learn-service-img-2
    {
        display: none;

    }

    .sub-text-services
    {
        color: #3f7d20;
    }

    .title-text-services
    {
        font-size: 30px;
    }

    .learn-services-box-container
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
    }

    .learn-services-box
    {
        width: 200px;
        height: 350px;
        background-color: #0d0a0bff;
        padding: 40px;
        color: #f4f7f5;

        border-radius: 30px;

        margin-bottom: 20px;
        margin-right: 20px;
    }

    .learn-service-box-title
    {
        font-size: 25px;
        font-weight: 800;
    }

    .stack-box-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .stack-box
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 30px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);

        margin-right: 20px;
        margin-top: 20px

    }

    .examples-box-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .example-box
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 40px;
        font-size: 25px;
    }

    .development-box-contanier
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .development-box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 350px;
        padding-top: 30px;

    }

    .development-box-header
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        color:#f4f7f5;
        background-image: url("../images/development-banner.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 300px;

        font-size: 30px;


    }

    .development-box-header-final
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        color:#f4f7f5;
        background-image: url("../images/development-banner-final.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 300px;

        font-size: 30px;


    }

    .development-box-body
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        margin-top: 20px;
        padding-left: 30px;
        padding-top: 30px;

        background-color: #efefef;
        color:#0d0a0bff;

        height: 400px;
        width: 300px;

        font-size: 20px;


    }
}