.review-section
{
    background-color: #f4f7f5;

    padding-top: 100px;
    padding-bottom: 200px;
}

.review-section-width
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 1200px;
}

.review-box-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: auto;

}

.review-box
{
    background-color: #0d0a0bff;

    width: 400px;

    padding: 50px;

    margin-right: 30px;
    margin-top: 40px;

    border-radius: 30px;
    color: #f4f7f5;
}

.review-subtext
{
    color: #3f7d20;
}

.review-title
{
    font-size: 40px;
}

.reviewer-images
{
    width: 50px;
    border-radius: 50px;
}

.reviewer-bio
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}

.reviewer-titles
{
    padding-left: 30px;
}

.reviewer-name
{
    font-size: 13px;
}

.reviewer-title
{
    font-size: 12px;
}